.detail-view {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.detail-layout {
    display: flex;
    align-items: flex-start;
}

.detail-image {
    max-width: 20rem;
    max-height: 30rem;
}

.detail-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.detail-description {
    overflow: scroll;
    max-height: 14.5rem;
}

.detail {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
}
