.login-container {
    background-image: url('../images/film-login.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container vaadin-login-form-wrapper {
    background: #161414;
}

.login-container vaadin-login-form {
    background: #161414;
}

